{{ define "main" }}
	<h2>Greetings!</h2>

	<p>I'm Renan Rocha (aka <a href="https://github.com/hasher-hasher" target="_blank">Hasher</a>), a Software Engineer with over a decade of experience.</p>

	<p>Most part of my career I spent working for big companies in industries including Data Engineering, Consulting, Public Software, Accounting and Software Development. Architecting, developing and integrating performant solutions to (usually) complex problems is basically what I'm doing most part of my working hours.</p>

	<p>I'm interested in Software Engineering, Open Source Projects, Game Engine Development, Indie Games and Music Production.</p>

	<p>This website is where I keep things I'm thinking about, things I'm currently working on and (sometimes spicy) opinions about technology and related topics.</p>

	<p>This website was designed to generate a small footprint (hence the simple, but consistent, interface). All the content is created by a human (me).</p>
{{ end }}
